body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Roboto', 'sans-serif';
    background-color: #f5f6f8;
}

.box__container{
    background-color: #f8f9fb;
    /* max-width: 1050px; */
    /* width: 100%; */
    height: 90vh;
    border: 7px solid #Fff;
    border-radius: 45px;
    padding-left: 40px;
    padding-right: 40px;
}

.box__info{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box__info--regards{
    margin-bottom: 60px;
}

.box__info--regards p{
    font-size: 35px;
    margin: 0;
    line-height: 1;
}

.box__info--data{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.box__info--regards p{
    font-family: 'Roboto','sans-serif';
}

.box__info--regards p:first-child{
    font-weight: bold;
}

.box__info--regards p:last-child::after{
    content: url("/static/image/hi.png");
    margin-left: 10px;

}


.box__left{
    display: flex;
    flex-direction: column;
    margin-right: 24px;
}

.box__job .title{
    font-size: 14px;
    font-weight: 600;
    width: 288px;
    margin: auto;
    line-height: 3;
    padding-top: 10px;
}
.box__job .description{
    font-size: 14px;
    width: 288px;
    margin: auto;
    line-height: 1.5;
    color: #939393;
}

.white-wrapper{
    background-color: #Fff;
    border-radius: 20px;
    width: 350px;
    display: flex;
    flex-direction: column;
}

.box__left--title{
    width: 288px;
    margin: auto;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}


.box__job{
    background-color: #f8f9fb;
    border-radius: 20px;
    width: 330px;
    margin: auto;
    margin-bottom: 13px;
}
.box__job--down{
    display: flex;
    justify-content: space-between;
    width: 288px;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 15px;
    color: #939393;
}
.box__job--img{
    display: flex;
    align-items: center;
}

.box__job--img .terrasoft{
    width: 90px;
}

.box__job--img .fortel{
    width: 70px;
}

.box__job--img .manpai{
    width: 86px;
}

.box__job--down p{
    font-size: 11px;
}

.box__middle{
    width: 350px;
    height: 558px;
}

.box__right{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 343px;
    display: flex;
    align-items: flex-end;
}

.email--title{
    color: #212D3F;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 32px;
    margin-left: 5px;
    line-height: .8;
}
.email button{
    height: 75px;
    width: 257px;
    border-radius: 11px;
    border: none;
    background-color: #5A5AB5;
    margin-bottom: 50px;
}
.email button:focus{
    outline: none;
}

.email button a{
    color: #EAEAF6;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Roboto', 'sans-serif';
    font-weight: bold;
}

.aditional-info .title{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
}

.aditional-info__box{
    background-color: #F4F5F8;
    background-color: rebeccapurple;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 256px;
    height: 82px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.aditional-info__box p{
    width: 170px;
    font-size: 14px;
    display: flex;
    align-items: center;
    line-height: 1.5;
    margin-top: 18px;
}
.aditional-info__box .img{
    width: 60px;
    display: flex;
    justify-content: center;
}

